<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usuario">
            <h2><span jhiTranslate="jhipsterApp.usuario.detail.title">Usuario</span> {{ usuario.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.usuario.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ usuario.nombre }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.usuario.apellido">Apellido</span></dt>
                <dd>
                    <span>{{ usuario.apellido }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.usuario.numcel">Numcel</span></dt>
                <dd>
                    <span>{{ usuario.numcel }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.usuario.email">Email</span></dt>
                <dd>
                    <span>{{ usuario.email }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/usuario', usuario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
