<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.usuario.home.title">Usuarios</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-usuario" [routerLink]="['/usuario/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterApp.usuario.home.createLabel">
            Create a new Usuario
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="usuarios?.length === 0">
        <span jhiTranslate="jhipsterApp.usuario.home.notFound">No usuarios found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="usuarios && usuarios.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.usuario.nombre">Nombre</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.usuario.apellido">Apellido</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.usuario.numcel">Numcel</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.usuario.email">Email</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios ;trackBy: trackId">
                    <td><a [routerLink]="['/usuario', usuario.id, 'view']">{{ usuario.id }}</a></td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.numcel }}</td>
                    <td>{{ usuario.email }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/usuario', usuario.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/usuario', usuario.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(usuario)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
